.imgs {
	width: 800px;
}

.lbox {
	visibility: hidden;
	opacity: 0;
	display: none;
}

.lbox:target {
	opacity: 1;
	visibility: visible;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(10, 10, 10, 0.7);
	position: fixed;
	display: block;
}

.box_img {
	width: 100%;
	height: 100%;
	padding: 5% 0;
}
.box_img img{
	display: block;
	width: 75%;
	height: auto;
	margin-left: auto;
  	margin-right: auto;
}
.btn {
	color: #fff;
	text-decoration: none;
	position: absolute;
	width: 50px;
	height: 50px;
	font-size: 40px;
	text-align: center;
}

#prev {
	left: 5%;
	top: 45%;
}

#next {
	right: 5%;
	top: 45%;
}

#close {
	position: absolute;
	right: 25px;
	top: 25px;
}

.min {
	width: 250px;
}
