* {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

body {
	background: #fff;
}

header {
	width: 100%;
	background-size: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	background: white;
}

.logo {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.logo img {
	width: 50px;
}

.logo p {
	color: grey;
	display: inline-block;
	font-size: 35px;
	margin: 0 15px;
}

.nav ul {
	list-style: none;
	line-height: 100px;
}

.nav ul li {
	display: inline-block;
}


.nav ul li a {
	text-decoration: none;
	font-weight: 100;
	color: grey;
	padding: 10px 20px;
}

.nav ul li a:hover {
	border-bottom: 2px solid #00f1db;
	color: #00cfec;
}

.container {
	width: 100%;
}

.div-logo {
	background: #fff;
	padding: 25px;
	margin: 25px;
	border-radius: 100px;
	display: inline-block;
}

.container div img {
	width: 150px;
}

.banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 450px;
	background: #191f1f;
}

h1 {
	color: white;
	font-size: 75px;
}

.banner p {
	color: white;
	font-size: 18px;
}

.elements {
	width: 100%;
	display: block;
}
#element1, #element2, #element3, #element4{

	-webkit-transition: all 1.25s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 1.25s ease-in-out; /** Firefox **/
    -o-transition: all 1.25s ease-in-out; /** Opera **/
}

.el {
	width: 100%;
	padding: 20px;
	min-height: 400px;

}

.el2 {
	background: #2196F3;
}

.el1 {
	background: #1BBC9B !important;
}

.el3 {
	background: #f79f41;
}

.el4 {
	background: #142b3e;
}

.el_title {
	line-height: 100px;
	font-size: 35px;
	color: #fff;
	text-align: center;
	font-weight: 200;
}

.img_el {
	background: #fff;
	border-radius: 75px;
	width: 150px;
	display: block;
	margin: 15px auto;
}

.el_txt {
	font-size: 18px;
	font-weight: 200;
	width: 90%;
	max-width: 600px;
	line-height: 25px;
	text-align: center;
	margin: 15px auto;
	color: #fff;
}

.members {
	max-width: 950px;
	margin: 15px auto;
	overflow: hidden;
	white-space: nowrap;
	position: relative;

}

.title_m h2{
	font-size: 2em;
	line-height: 1em;
	font-weight: 200;
}

.rows {
	position: absolute;
	bottom: 185px;
	width: 100%;
}

.rows div {
	width: 100%;
	position: relative;
}

.rows div button{
	list-style: none;
	font-size: 30px;
	font-weight: 600;
	color: #686868;
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 20px;
	text-align: center;
	z-index: 10;
	border: none;
	box-shadow:0px 3px 5px rgba(0,0,0,0.25);
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.left {
	position: absolute;
	left: 0;
}

.right {
	position: absolute;
	right: 0;
}
.picture {
	height: 150px;
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.picture img {
	display: block;
	margin: auto;
	border-radius: 60px;
	width: 120px;
	height: auto;
	padding: 25px;
}

.tarjets {
	width: 100%;
	position: relative;
	left: 0px;
	right: 0px;
	-webkit-transition: all .75s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all .75s ease-in-out; /** Firefox **/
    -o-transition: all .75s ease-in-out; /** Opera **/
}

.tarjet {
	z-index: 1;
	display: inline-block;

	max-width: 280px;
	min-width: 280px;

	background: white;

	margin: 15px;
	border-radius: 5px;
	
	white-space: normal;

	transition:all 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
	transition-property:all;
	transition-duration:0.15s;
	transition-timing-function:cubic-bezier(0.33, 0.66, 0.66, 1);
	transition-delay:initial;
	transform:translate3d(0, 0, 0);
	transform-style:preserve-3d;
	backface-visibility:hidden;

	box-shadow:0px 3px 5px rgba(0,0,0,0.25);
	box-sizing: inherit;
	-webkit-box-direction: normal;
	position: relative;
	text-align: left;
}

.tarjet:hover {
	box-shadow:0px 7px 12px rgba(0,0,0,0.45);transform:translate3d(0, -3px, 0)
}

.member1 {
	background: #00559d;
}

.member2 {
	background: #ec1561;
}

.member3 {
	background: #fca608;
}

.member4 {
	
	background: #7884cd;
}

.name {
	font-size: 18px;
	color: rgb(36,36,39) !important;
	height: 30px;
	font-weight: normal;
	padding: 5px 10px;

}
.data {
	height: 150px;
}

.contact {
	height: 40px;
	padding: 5px 10px;
}

.contact p {
	display: inline-block;
	width: 125px;
	font-size: 18px;
	color: #686868;
	font-weight: 300;
}

.contact a {
	display: inline-block;
	position: relative;
	color: #0dd0c6;
	font-weight: 100;
	font-size: 18px;
	width: 130px;
	text-align: right;
	text-decoration: none;
}
.function {
	height: 80px;
	font-size: 16px;
	color: #0c9bb1 !important;
	font-weight: 300;
	padding: 5px 10px;
}

.noclick {
	display: none;
	visibility: hidden;
	opacity: 0;
}

.novisible {
	height: 100px;
}

footer {
	background: #181818;
	color: white;
	min-height: 200px;
}

.footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
}

form {
	width: 100%;
	max-width: 500px;
	padding: 15px;
}

.input-group {
	padding: 5px;
}

.input-group label {
	display: inline-block;
	width: 75px;
}

.input-group textarea,  .input-group input[type="text"], .input-group input[type="email"]{
	display: inline-block;
	width: 100%;
}

input[type="button"] {
	display: block;
	min-width: 100px;
	margin: 15px auto;
	height: 40px;
	color: #fff;
	background: #00cfec;
	border: none;
}

@media (max-width: 600px) {
	.el_title {
		font-size: 25px;
		line-height: normal;
	}

	.el_txt {
		font-size: 18px;
		line-height: normal;
	}
}